.services-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
    gap: 30px; /* Increase space between grid items */
  padding: 16px; /* Add padding around the grid */

}

.services-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem; /* Slightly increase padding */
  background-color: white; /* Equivalent to bg-white */
  border: 0.5px solid rgb(189, 188, 188); /* Default gray border */
  border-radius: 0.5rem; /* Equivalent to rounded */
  transition: box-shadow 0.2s;
  height: 250px;
  width: 450px;
  border: 2px solid;
  border-image: linear-gradient(45deg, #ff6ec4,#7873f5) 1;
  position: relative; /* Set relative positioning for the card */
  cursor: pointer;
  margin-right: 20px;


  
}

.services-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Decrease hover shadow */
}
.services-image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 1rem; /* Add space between image and title */
  width: 100%; /* Make the container fill the card width */
  height: 100px; /* Adjust as needed for your design */
}

.services-image {
  width: 50px; /* Set max width for the image */
  height: 60px; /* Set max height for the image */
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}


.services-card-title {
  font-weight: bold;
  margin-top: 20px; /* Reset margin if needed */
  margin-bottom: 0.5rem; /* Add space between title and underline */
  font-size: 20px; /* Increase title size */
  flex-grow: 1; /* Pushes the text down to maintain even space across cards */


}

.services-underline {
  width: 100%;
  height: 0.25rem; /* Adjust as necessary */
  /*background-color: #4c51bf; /* Your underline color */
  background-image:linear-gradient(45deg, #ff6ec4,#7873f5) ;
  transition: transform 0.3s;
  transform: scaleX(0); /* Hide by default */
}

.services-card:hover .services-underline {
  transform: scaleX(1); /* Show on hover */
}

/* Additional styles for text direction */
.text-left {
  text-align: left; /* Left align for English */
  direction: ltr; /* Left to right */
}

.text-right {
  text-align: right; /* Right align for Arabic */
  direction: rtl; /* Right to left */
}
