@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
 background: linear-gradient(45deg, rgba(255, 110, 196, 0.5), rgba(120, 115, 245, 0.5));

} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body,
p,
a,
li,
td,
th,
h1,
h2,
h3,
h4,
h5,
span,
div,
button,
label,
input,
textarea,
a {
  font-family: "Cairo", Avenir, Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-optical-sizing: auto;
}